<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programming Languages</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<nav>
    <a href="/">Home</a>
    <a href="/languages/new">Add a New Language</a>
</nav>
<body class="subpage">
    
   <h1>Programming Languages</h1> 
   
<ul>
   <% languages.forEach((language) => {%>

<li> <a href = '/languages/<%=language._id%>'><%=language.name%></a></li>



<% }); %>
</ul>

</body>
</html>